@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  color: white;
  /* background-color: #181818; */
  background-image: url(./assets/bgImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-theme-neutral,
.card-theme-light,
.card-theme-dark {
  position: relative;
  /* Ensure proper positioning of pseudo-element */
  background-color: #DCB98A;
  padding: 10px;
  /* Adjust padding as needed */
  border-radius: 10px;
  /* Adjust border-radius as needed */
}

.card-theme-neutral::before,
.card-theme-light::before,
.card-theme-dark::before {
  content: '';
  /* Required for pseudo-elements */
  position: absolute;
  top: -4px;
  /* Adjust offset to cover the border width */
  left: -4px;
  /* Adjust offset to cover the border width */
  right: -4px;
  /* Adjust offset to cover the border width */
  bottom: -4px;
  /* Adjust offset to cover the border width */
  background: linear-gradient(to bottom, #CC9B70, #3E2713);
  border-radius: inherit;
  /* Inherit border-radius from the main element */
  z-index: -1;
  /* Ensure the pseudo-element stays behind the content */
}

.card-theme-light {
  background-color: #E8CFA6;
}

.card-theme-dark {
  background-image: linear-gradient(to bottom, #B68962, #503C2B);
  padding: 10px;
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F1F1F1;
  border-radius: 20px;
  /* background: none; */
}